<h3>Strings</h3>

In [141]:
# multiline string:
multilinestr = '''here this is a mulitline string
i can write in the nexxt line too. '''

b =" some string b "
# strip is to remove while spaces in the beginning and the end of a string
b = b.strip()
# string behave as an array
print(b[2:5])

print(b.upper())
print(b.lower())
print(b.replace("s","j"))
print(b.split(" "))

a="some string with a placeholder {}".format(b)
print(a)
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

me
SOME STRING B
some string b
jome jtring b
['some', 'string', 'b']
some string with a placeholder some string b
I have a Ford, it is a Mustang.

<h3>list</h3>

In [21]:
somelist = ['apple','banana','mango']
print(somelist[1])
for x in somelist:
    print(x)
if("apple" in somelist):
    print("its here")
    
print(len(somelist))
somelist.append("orange")
somelist.insert(1, "somefruit")
somelist.remove("orange")
somelist.pop()
del somelist[2]
del somelist

somelist=[1,2,3,4,5]
somelist.clear()
print(somelist)
somelist=[1,2,3,]

copiedlist = somelist.copy()
print(copiedlist)
print(somelist+copiedlist)

banana
apple
banana
mango
its here
3
[]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

<h3>tuple</h3>

In [19]:
sometuple = (1,2,3,4)
print(sometuple[1])
# once a tuple is created its values cannot be changed 
del sometuple
# we can delete a tuple

# most of the functions are similar to that of a list butits values is unchangable

2

<h3>dictionary</h3>

In [39]:
somedict = {"key1":"value1","key2":"value2"}
print(somedict["key1"])
somedict["key1"] = "changed value"

for x in somedict:
    print(x)
    print(somedict[x])
    
for x,y in somedict.items():
    print(x+y)
    
if('key1' in somedict):
    print("ture")
    
print(len(somedict))
somedict["newkey"] = "new value"
somedict.pop("key2")
somedict.popitem()

copieddict = somedict.copy()

value1
key1
changed value
key2
value2
key1changed value
key2value2
ture
2

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and 
values

get()	Returns the value of the specified key

items()	Returns a list containing the a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary

<h3>if else</h3>

In [47]:
# shorthand if else
if 3 > 2: print("3 is greater than 2")
print("3") if 3 > 2 else print("2")
print("3") if 3 > 2 else print("=") if 3 == 2 else print("2")

1==1 and 2==2
1==1 or 1==2

3 is greater than 2
3
3

True

<h3>while loop and continue

In [48]:
i = 0
while i < 6:
    i += 1 
    if i == 3:
        continue
    print(i)

1
2
4
5
6

<h3>for loop

In [55]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

for x in range(2,8,2):
    print(x)

for x in range(3):
    print(x)
else:
    print("done")

apple
cherry
2
4
6
0
1
2
done

<h3>functions

In [58]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
    print(result)
    else:
        result = 0
    return result

print("Recursion")
tri_recursion(6)

Recursion
1
3
6
10
15
21

21

<h3>lambda function

In [60]:
# lambda arguments : expression

x = lambda a, b : a * b
print(x(5, 6))

30

<h3>classes and objects and inheritance

In [72]:
class parentclass:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

class childclass(parentclass):
    def __init__(self, name,lname, age):
        super().__init__(name, age)
        self.lname = lname
    def myfunc(self):
        super().myfunc()
        print("lname is " + self.lname)

x = parentclass('somename',33)
x.myfunc()

y = childclass('childname',"childlname", 12)
y.myfunc()

Hello my name is somename
Hello my name is childname
lname is childlname

<h3>DateTime module

In [90]:
import datetime

x = datetime.datetime.now()
print(x)

y = datetime.datetime(2020, 5, 17,12,53,42)
# year, month, day, hour, minute, second, and microsecond.
print(y.strftime("%X"))

2019-08-08 19:15:11.250628
12:53:42

%a	Weekday, short version	Wed	

%A	Weekday, full version	Wednesday	

%w	Weekday as a number 0-6, 0 is Sunday	3	

%d	Day of month 01-31	31	

%b	Month name, short version	Dec	

%B	Month name, full version	December	

%m	Month as a number 01-12	12	

%y	Year, short version, without century	18	

%Y	Year, full version	2018	

%H	Hour 00-23	17	

%I	Hour 00-12	05	

%p	AM/PM	PM	

%M	Minute 00-59	41	

%S	Second 00-59	08	

%f	Microsecond 000000-999999	548513	

%z	UTC offset	+0100	

%Z	Timezone	CST	

%j	Day number of year 001-366	365	

%U	Week number of year, Sunday as the first day of week, 00-53	
52	

%W	Week number of year, Monday as the first day of week, 00-53	52	

%c	Local version of date and time	Mon Dec 31 17:41:00 2018	

%x	Local version of date	12/31/18	

%X	Local version of time	17:41:00	

%%	A % character	%

<h3>Json

In [108]:
import json

# a string x is parsed into a json(python dictionary) object and savned in y
x =  '{ "name":"John", "age":30, "city":"New York"}'
y = json.loads(x)
print(y["age"])

# and the reverse procedure
p = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
q = json.dumps(p)
print(type(q))

a = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

b=json.dumps(a, indent=1, sort_keys=True)
print(b)

30
<class 'str'>
{
 "age": 30,
 "cars": [
  {
   "model": "BMW 230",
   "mpg": 27.5
  },
  {
   "model": "Ford Edge",
   "mpg": 24.1
  }
 ],
 "children": [
  "Ann",
  "Billy"
 ],
 "divorced": false,
 "married": true,
 "name": "John",
 "pets": null
}

<h3>RegEx

In [126]:
import re

txt = "The rain in Spain"
x = re.search("a", txt)
# the position of the string
print(x.start())
# the start and end position of the string
print(x.span())
# how the regex wil look like in whole
print(x.group())


str = "The rain in Spain"
x = re.findall("ai", str)
print(x)

str = "The rain in Spain"
x = re.split("\s", str)
y = re.split("\s", str, 1)
print(x)
print(y)

str = "The rain in Spain"
x = re.sub("\s", "9", str)
y = re.sub("\s", "9", str, 2)
print(x)
print(y)

5
(5, 6)
a
['ai', 'ai']
['The', 'rain', 'in', 'Spain']
['The', 'rain in Spain']
The9rain9in9Spain
The9rain9in Spain

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:120px">Function</th>
<th>Description</th>
</tr>
<tr>
<td><a href="#findall">findall</a></td>
<td>Returns a list containing all matches</td>
</tr>
<tr>
<td><a href="#search">search</a></td>
<td>Returns a <a href="#matchobject">Match object</a> if there is a match anywhere in the string</td>
</tr>
<tr>
<td><a href="#split">split</a></td>
<td>Returns a list where the string has been split at each match </td>
</tr>
<tr>
<td><a href="#sub">sub</a></td>
<td>Replaces one or many matches with a string</td>
</tr>
</tbody></table>



<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:120px">Character</th>
<th>Description</th>
<th style="width:120px">Example</th>

</tr>
<tr>
<td>[]</td>
<td>A set of characters</td>
<td>"[a-m]"</td>

</tr>
<tr>
<td>\</td>
<td>Signals a special sequence (can also be used to escape special characters)</td>
<td>"\d"</td>

</tr>
<tr>
<td>.</td>
<td>Any character (except newline character)</td>
<td>"he..o"</td>

</tr>
<tr>
<td>^</td>
<td>Starts with</td>
<td>"^hello"</td>

</tr>
  <tr>
<td>\$</td>
<td>Ends with</td>
<td>"world$"</td>

  </tr>
  <tr>
<td>*</td>
<td>Zero or more occurrences</td>
<td>"aix*"</td>

  </tr>
  <tr>
<td>+</td>
<td>One or more occurrences</td>
<td>"aix+"</td>

  </tr>
  <tr>
<td>{}</td>
<td>Exactly the specified number of occurrences</td>
<td>"al{2}"</td>

  </tr>
  <tr>
<td>|</td>
<td>Either or</td>
<td>"falls|stays"</td>

  </tr>
  <tr>
<td>()</td>
<td>Capture and group</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
  </tr>
</tbody></table>


<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:120px">Character</th>
<th>Description</th>
<th style="width:120px">Example</th>

</tr>
<tr>
<td>\A</td>
<td>Returns a match if the specified characters are at the beginning of the 
string</td>
<td>"\AThe"</td>

</tr>
  <tr>
<td>\b</td>
<td>Returns a match where the specified characters are at the beginning or at the 
end of a word</td>
<td>r"\bain"<br>r"ain\b"</td>

  </tr>
  <tr>
<td>\B</td>
<td>Returns a match where the specified characters are present, but NOT at the beginning 
(or at 
the end) of a word</td>
<td>r"\Bain"<br>r"ain\B"</td>

  </tr>
  <tr>
<td>\d</td>
<td>Returns a match where the string contains digits (numbers from 0-9)</td>
<td>"\d"</td>

  </tr>
  <tr>
<td>\D</td>
<td>Returns a match where the string DOES NOT contain digits</td>
<td>"\D"</td>

  </tr>
  <tr>
<td>\s</td>
<td>Returns a match where the string contains a white space character</td>
<td>"\s"</td>

  </tr>
  <tr>
<td>\S</td>
<td>Returns a match where the string DOES NOT contain a white space character</td>
<td>"\S"</td>

  </tr>
  <tr>
<td>\w</td>
<td>Returns a match where the string contains any word characters (characters from 
a to Z, digits from 0-9, and the underscore _ character)</td>
<td>"\w"</td>

  </tr>
  <tr>
<td>\W</td>
<td>Returns a match where the string DOES NOT contain any word characters</td>
<td>"\W"</td>

  </tr>
<tr>
<td>\Z</td>
<td>Returns a match if the specified characters are at the end of the string</td>
<td>"Spain\Z"</td>

</tr>
</tbody></table>

<table class="w3-table-all notranslate">
<tbody><tr>
<th style="width:120px">Set</th>
<th>Description</th>

</tr>
  <tr>
<td>[arn]</td>
<td>Returns a match where one of the specified characters (<code class="w3-codespan">a</code>,
<code class="w3-codespan">r</code>, or <code class="w3-codespan">n</code>) are 
present</td>

  </tr>
  <tr>
<td>[a-n]</td>
<td>Returns a match for any lower case character, alphabetically between
<code class="w3-codespan">a</code> and <code class="w3-codespan">n</code></td>

  </tr>
  <tr>
<td>[^arn]</td>
<td>Returns a match for any character EXCEPT <code class="w3-codespan">a</code>,
<code class="w3-codespan">r</code>, and <code class="w3-codespan">n</code></td>

  </tr>
  <tr>
<td>[0123]</td>
<td>Returns a match where any of the specified digits (<code class="w3-codespan">0</code>,
<code class="w3-codespan">1</code>, <code class="w3-codespan">2</code>, or <code class="w3-codespan">
3</code>) are 
present</td>

  </tr>
  <tr>
<td>[0-9]</td>
<td>Returns a match for any digit between
<code class="w3-codespan">0</code> and <code class="w3-codespan">9</code></td>

  </tr>
<tr>
<td>[0-5][0-9]</td>
<td>Returns a match for any two-digit numbers from <code class="w3-codespan">00</code> and <code class="w3-codespan">
59</code></td>

</tr>
  <tr>
<td>[a-zA-Z]</td>
<td>Returns a match for any character alphabetically between
<code class="w3-codespan">a</code> and <code class="w3-codespan">z</code>, lower case OR upper case</td>

  </tr>
  <tr>
<td>[+]</td>
<td>In sets, <code class="w3-codespan">+</code>, <code class="w3-codespan">*</code>,
<code class="w3-codespan">.</code>, <code class="w3-codespan">|</code>,
<code class="w3-codespan">()</code>, <code class="w3-codespan">\$</code>,<code class="w3-codespan">{}</code> 
has no special meaning, so <code class="w3-codespan">[+]</code> means: return a match for any
<code class="w3-codespan">+</code> character in the string</td>

  </tr>
</tbody></table>

<h3>try except

In [137]:
try:
    print(someunknown)
except:
    print("An exception occurred")

try:
    print(someunknown)
except NameError:
    print("Variable someunknown is not defined")
except:
    print("Something else went wrong")

# else keyword to define a block of code to be executed if no errors were raised

try:
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

# finally block, if specified, will be executed regardless if the try block raises an error or not.

try:
    print(someunknown)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

An exception occurred
Variable someunknown is not defined
Hello
Nothing went wrong
Something went wrong
The 'try except' is finished

<h3>input

In [139]:
print("Enter your name:")
x = input()
print("yourname is ",x)

Enter your name:
xxxxx
yourname is  xxxxx

<h3>file handling

In [182]:
try:
    f = open("test.txt", "rt")
except:
    print("some error")

print(f.read())
# print(f.readline())
# print(f.readline())

# .read() is for reading all characters in the file with one character at a time 
# .readline() is for reading one line of the file i.e. till \n
for x in f:
    print(x+"\n")

f.close()


try:
    f = open("test.txt", "at")
except:
    print("some error")
f.write("Now the file has more content!")   

# to remove a file and a directory
import os
try:
    os.remove("demofile12321.txt")
    os.rmdir("myfolder41241")
except:
    print("some error")

This is a test file.
It has some ramdom text in it.
Also, it is used in one of the programme.Now the file has more content!
some error

<div class="w3-example">
<p><code class="w3-codespan">"r"</code> - Read - Default value. Opens a 
file for reading, error if the file does not exist</p>
<p><code class="w3-codespan">"a"</code> - Append - Opens a file for 
appending, creates the file if it does not exist</p>
<p><code class="w3-codespan">"w"</code> - Write - Opens a file for writing, 
creates the file if it does not exist</p>
<p><code class="w3-codespan">"x"</code> - Create - Creates the specified file, returns 
an error if the file exists</p>
</div>
<div class="w3-example">
  <p><code class="w3-codespan">"t"</code> - Text - Default value. Text mode</p>
  <p><code class="w3-codespan">"b"</code> - Binary - Binary mode (e.g. 
  images)</p>
</div>